npm-debug.log
yarn-error.log
node_modules
tsconfig.json
tsconfig.server.json
jsconfig.json
logs
package-lock.json
.prettierrc.json
.gitignore
.git
.github
yarn.lock
.next
.env
eslint.config.mjs
pnpm-lock.yaml
